<div class="container">
  <div class="buttons">
    <h5 class="subtitle is-5 text-wht is-spaced spacing center center1">Dołącz do nas już dziś!</h5>
    <div class="button is-white">Zarejestruj się</div>
    <!-- [ngClass]="isActive('register')" (click)="navigate('register')" -->
    <h5 class="subtitle is-5 text-wht is-spaced spacing center center1">Lub:</h5>
    <div class="button is-white">Zaloguj się</div>
    <!-- [ngClass]="isActive('login')" (click)="navigate('login') -->
  </div>
  <div class="content">
    <h1 class="title is-1 text-wht margin spacing limitv2">Nieodłączny element każdej podróży!</h1>

    <h5 class="subtitle is-5 text-wht is-spaced spacing limit">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatibus ipsum reiciendis amet ipsam
      mollitia iure. Adipisci delectus obcaecati laboriosam ex doloremque, est ipsa doloribus quasi autem, dolorum
      blanditiis quos? Aspernatur corrupti officiis error laborum quaerat tempora dolor reprehenderit expedita enim
      voluptate ex, unde beatae magnam impedit, culpa veniam mollitia ipsum exercitationem, rerum corporis dolorem eaque
      nihil ullam? Rerum, blanditiis.
    </h5>
  </div>
</div>
