<div class="box">
  <form [formGroup]="loginForm">
    <div class="field">
      <label class="label">Nazwa użytkownika</label>
      <div class="control">
        <input class="input" [ngClass]="isFieldValid('username')" formControlName="username" type="text" placeholder="Nazwa użytkownika">
      </div>
    </div>

    <div class="field">
      <label class="label">Hasło</label>
      <div class="control">
        <input class="input" [ngClass]="isFieldValid('password')" formControlName="password" type="password" placeholder="Hasło">
      </div>
    </div>

    <div class="control has-text-centered">
      <button class="button is-primary center" (click)="login()" [disabled]="loginForm.invalid">Zaloguj się</button>
    </div>
  </form>
</div>
