.navbar {
  background-color: #00d1b2;
}

.navbar-brand {
  .navbar-item {
    background: url(/assets/images/logo.png) no-repeat center center;
    background-size: cover;
    width: 300px;
  }
}
.doPrawej{
  display: flex;
  justify-content: space-between;


}
@media screen and (max-width: 680px) {
  .doPrawej{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}