<div class="box" *ngIf="(currentUser$ | async) as currentUser">
    <div class="field">
      <label class="label"> {{ currentUser.username }} </label>
    </div>

    <div class="field">
      <label class="label"> {{ currentUser.username }} </label>
    </div>

    <div class="field">
      <label class="label">Imię</label>
    </div>

    <div class="field">
      <label class="label">Nazwisko</label>
    </div>

    <div class="field">
      <label class="label">Data urodzenia</label>
    </div>

</div>
