<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item"></div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <div class="button is-white"> Dashboard </div>
            <div class="button is-white"> Twoje grupy </div>
            <div class="button is-white"> Twoje wycieczki </div>
            <div class="button is-white"> Atrakcje </div>
            <div class="button is-white"><a [routerLink]="['/home/profile']">Profil</a></div>
            <div class="button is-white" (click)="logout()"> Wyloguj się </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
