<div class="card box" *ngIf="journey">
  <div class="card-header">
    <div class="title is-4" (click)="navigate(journey._id)">{{ journey.name }}</div>
  </div>

  <div class="card-content">
    <div class="label">Cel podróży:</div>
    {{ journey.destination.zipCode }} {{ journey.destination.city }}, {{ journey.destination.country }}
    <hr />
    <div class="label">Termin wycieczki</div>
    {{ journey.startDate | date: 'dd.MM.yyyy' }} - {{ journey.endDate | date: 'dd.MM.yyyy' }}
    <hr />
    <div class="label">Opis:</div>
    {{ journey.description }}
  </div>
</div>
