<label class="label"> Wyszukaj</label>
<!-- <div class="control">
  <input class="input" type="text" placeholder="Search" (blur)="" />
</div> -->

<!-- <div class="field has-addons has-addons-right">
  <p class="control">
    <input class="input" type="text" placeholder="Search">
  </p>
  <p class="control">
    <a class="button is-info" (click)="execute()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
  </p>
</div> -->

<div class="field">
  <p class="control has-icons-right">
    <input class="input" type="text" placeholder="Search" (change)="apply($event)">
    <span class="icon is-small is-right">
      <i class="fa-solid fa-magnifying-glass"></i>
    </span>
  </p>
</div>
