.container {
  padding-top: 3%;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}

.image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.col {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.span {
  width: 100%;
}
.lol {
  background-color: bisque;
  display: flex;
  justify-content: flex-start;
  margin-left: -200px;
}
