<div class="list-group-item list-group-item-action flex-column align-items-start active">
  <div class="container">
    <div *ngIf="group" class="row">
      <div class="col">
        <figure class="image is-square">
          <img [src]="groupCover" alt="Placeholder image" />
        </figure>
      </div>
      <div class="col">
        <div class="title is-4">{{ group?.name }}</div>
        <div class="row">
          <span class="tag is-link is-light">Creator: {{ group?.founder.username | label }}</span>
          <span class="tag is-info is-light">Invitation Code: {{ group?.invitationCode | label }}</span>
          <span class="tag is-info is-light"> {{ group?.journeys | label }}</span>
          <span class="tag is-info is-light"> {{ group?.members | label }}</span>
        </div>

        <div class="row">
          <button (click)="deleteGroup(group._id)" class="button is-danger">Usuń</button>
        </div>
      </div>
    </div>
  </div>
</div>
