<div class="box">
  <form [formGroup]="registerForm">
    <div class="field">
      <label class="label">Nazwa użytkownika</label>
      <div class="control">
        <input class="input" [ngClass]="isFieldValid('username')" formControlName="username" type="text" placeholder="Nazwa użytkownika">
      </div>
    </div>


    <div class="field">
      <label class="label">Adres e-mail</label>
      <div class="control" id="email">
        <input class="input" [ngClass]="isFieldValid('email')" formControlName="email" type="email" placeholder="Adres e-mail">
      </div>
    </div>

  <div class="field">
    <label class="label">Imię</label>
    <div class="control">
      <input class="input" [ngClass]="isFieldValid('firstName')" formControlName="firstName" type="text" placeholder="Imię">
    </div>
  </div>

  <div class="field">
    <label class="label">Nazwisko</label>
    <div class="control">
      <input class="input" [ngClass]="isFieldValid('lastName')" formControlName="lastName" type="text" placeholder="Nazwisko">
    </div>
  </div>

  <div class="field">
    <label class="label">Data urodzenia</label>
    <div class="control">
      <input class="input" [ngClass]="isFieldValid('birthdate')" formControlName="birthdate" type="date">
    </div>
  </div>

  <div class="field">
    <label class="label">Hasło</label>
    <div class="control">
      <input class="input" [ngClass]="isFieldValid('password')" formControlName="password" type="password" placeholder="Hasło">
    </div>
  </div>

  <div class="field">
    <label class="label">Powtórz hasło</label>
    <div class="control">
      <input class="input" [ngClass]="isFieldValid('confirmPassword')" formControlName="confirmPassword" type="password" placeholder="Powtórz hasło">
    </div>
  </div>
  <div class="field">
  <label class="checkbox">
    <input type="checkbox" formControlName="isSubscribed">
      Chcę się zapisać do newslettera
  </label>
  </div>
  <div class="control has-text-centered">
    <button class="button is-primary center" (click)="register()" [disabled]="registerForm.invalid">Zarejestruj się</button>
  </div>

  <pre>
    {{ registerForm.controls['email'].status}}
  </pre>
</form>
</div>
