<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Atrakcje">
    <majk-attraction-list [attractionList$]="attractionList$" [isModeratorView]="false"></majk-attraction-list>
  </mat-tab>
  <mat-tab label="Kreator">
    <majk-attraction-form></majk-attraction-form>
  </mat-tab>
  <mat-tab *ngIf="isModerator | async">
    <ng-template mat-tab-label>
      <span [matBadge]="(newAttractionList$ | async)?.length" matBadgeOverlap="false">Atrakcje do zatwierdzenia</span>
    </ng-template>
    <majk-attraction-list [attractionList$]="newAttractionList$" [isModeratorView]="true"></majk-attraction-list>
  </mat-tab>
</mat-tab-group>
