<div class="column is-12 center">
  <div class="content" *ngIf="notificationsUnread$ | async as notifications">
    <div class="title left">Powiadomienia</div>

    <ng-container *ngIf="notifications.length !== 0; else noNotificationsTemplate">
      <tr *ngFor="let notification of notifications">
        <div class="notification is-success is-light">
          <button class="delete" (click)="markNotificationAsRead(notification['_id'])"></button>
          Zostałeś dodany do wycieczki o ID
          {{ notification['journeyId'] }}
          {{ notification | json }}
        </div>
      </tr>
    </ng-container>
    
    <ng-template #noNotificationsTemplate>
      <div class="notification is-grey is-light">Brak aktualnych powiadomień</div>
    </ng-template>
  </div>
</div>

<div class="column is-12 center">
  <div class="content" *ngIf="userJourneys$ | async as userJourneys">
    <div class="paragraph-title">
      <h2 class="title is-3"> Najbliższa wycieczka </h2>
    </div>
    <ng-container *ngIf="userJourneys[0]">
      <majk-journey-card [journey]="userJourneys[0]"></majk-journey-card>
    </ng-container>
  </div>

  <div class="content" *ngIf="futureJourneys$ | async as futureJourneys">
      <div class="paragraph-title">
        <h2 class="title is-3"> Zaplanowane wycieczki </h2>
      </div>

      <tr *ngFor="let journey of futureJourneys">
        <majk-journey-card [journey]="journey"></majk-journey-card>
      </tr>
  </div>

  <div class="content" *ngIf="pastJourneys$ | async as pastJourneys">
    <div class="paragraph-title">
      <h2 class="title is-3"> Przebyte wycieczki </h2>
    </div>

    <tr *ngFor="let journey of pastJourneys">
      <majk-journey-card [journey]="journey"></majk-journey-card>
    </tr>
  </div>

</div>
