.card,
majk-journey-card {
  width: 30rem;
  margin: 1rem;

  .image img {
    width: 100%;
    object-fit: cover;
  }
  .button {
    min-width: 10rem;
  }

  .card-footer {
    justify-content: space-evenly;
  }

  .title {
    padding: 1rem;
  }

  .is-center {
    text-align: center;
  }

  .medium {
    font-size: 1.5rem;
  }

  .semi {
    font-size: 1.2rem;
  }

  .info {
    display: flex;
    flex-direction: row;

    .text {
      text-align: center;
      flex-grow: 1;
    }

    .is-link {
      color: #485fc7;
      cursor: pointer;
      text-decoration: none;
    }

    .is-link:hover {
      text-decoration: underline;
    }
  }
}

.paragraph-title {
  padding: 20px;
}

.notification {
  margin: 5px;
  transition: 0.25s ease;
  border-radius: 5px;
}

.notification:hover {
  background-color: #d3f3e7;
}

.column {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.content{
  border-radius: 5px;
  transition: 0.25s ease;
}


.content:hover {
  background-color: #f9faf9;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 20px;
  font-weight: bold;
  text-decoration: solid underline transparent;
}

.content:hover {
  .paragraph-title > .title{
    text-decoration: none;
    transition: text-decoration 4s ease;
  }
}
 .center{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 @media screen and (max-width: 769px) {
  .wrapik {
    width: 300px;
  }
}


.link {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
