<div class="majk-container">
  <div class="box  smaller" *ngIf="!isModeratorView" >
    <majk-search ></majk-search>
    <hr />
    <majk-sort  ></majk-sort>
    <hr />
    <majk-filters ></majk-filters>
  </div>

  <div class="column">
    
    <majk-selected-attractions *ngIf="!isModeratorView"></majk-selected-attractions>
    <div class="list smaller">
      
      <div *ngFor="let attraction of attractionList$ | async" >
        <majk-attraction-card [attraction]="attraction" [isModeratorView]="isModeratorView" ></majk-attraction-card>
      </div>
    </div>
  </div>
</div>
