/* You can add global styles to this file, and also import other style files */

html {
  // overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  html {
    min-width: 200px !important;
  }
}

@media screen and (min-width: 769px) {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


