<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Czy zameldowanie?</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <label class="radio">
          <input type="radio" name="answer" (change)="toggleAccomodationForm(true)" />
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="answer" (change)="toggleAccomodationForm(false)" />
          No
        </label>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="accomodationForm" *ngIf="isAccomodationFormEnabled">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Nazwa obiektu</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            [ngClass]="isFieldValid('placeName', accomodationForm)"
            type="text"
            formControlName="placeName"
            placeholder="Nazwa obiektu"
          />
          <div class="help is-danger" *ngIf="isErrorEnabled('placeName', accomodationForm)">
            <div *ngFor="let error of getError('placeName', accomodationForm)">{{ error | formError }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Zameldowanie, wymeldowanie</label>
    </div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input
            class="input"
            [ngClass]="isFieldValid('checkIn', accomodationForm)"
            type="datetime-local"
            formControlName="checkIn"
            placeholder="Nazwa obiektu"
          />
          <div class="help is-danger" *ngIf="isErrorEnabled('checkIn', accomodationForm)">
            <div *ngFor="let error of getError('checkIn', accomodationForm)">{{ error | formError }}</div>
          </div>
        </div>

        <div class="control is-expanded">
          <input
            class="input"
            [ngClass]="isFieldValid('checkOut', accomodationForm)"
            type="datetime-local"
            formControlName="checkOut"
            placeholder="Nazwa obiektu"
          />
          <div class="help is-danger" *ngIf="isErrorEnabled('checkOut', accomodationForm)">
            <div *ngFor="let error of getError('checkOut', accomodationForm)">{{ error | formError }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="addressForm" class="mb-3">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Adres</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input
              class="input"
              [ngClass]="isFieldValid('zipCode', addressForm)"
              formControlName="zipCode"
              type="text"
              placeholder="Kod pocztowy"
            />
            <div class="help is-danger" *ngIf="isErrorEnabled('zipCode', addressForm)">
              <div *ngFor="let error of getError('zipCode', addressForm)">{{ error | formError }}</div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input
              class="input"
              [ngClass]="isFieldValid('city', addressForm)"
              formControlName="city"
              type="text"
              placeholder="Miasto"
            />
            <div class="help is-danger" *ngIf="isErrorEnabled('city', addressForm)">
              <div *ngFor="let error of getError('city', addressForm)">{{ error | formError }}</div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input
              class="input"
              [ngClass]="isFieldValid('country', addressForm)"
              formControlName="country"
              type="text"
              placeholder="Kraj"
            />
            <div class="help is-danger" *ngIf="isErrorEnabled('country', addressForm)">
              <div *ngFor="let error of getError('country', addressForm)">{{ error | formError }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field grow-3">
          <div class="control">
            <input
              class="input"
              [ngClass]="isFieldValid('street', addressForm)"
              formControlName="street"
              type="text"
              placeholder="Ulica"
            />
            <div class="help is-danger" *ngIf="isErrorEnabled('street', addressForm)">
              <div *ngFor="let error of getError('street', addressForm)">{{ error | formError }}</div>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input" formControlName="apartment" type="text" placeholder="Nr. budynku/mieszkania" />
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Dodatkowe informacje</label>
    </div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input
            class="input"
            [ngClass]="isFieldValid('additionalInfo', accomodationForm)"
            type="text"
            formControlName="additionalInfo"
            placeholder="Dodatkowe informacje"
          />
          <div class="help is-danger" *ngIf="isErrorEnabled('additionalInfo', accomodationForm)">
            <div *ngFor="let error of getError('additionalInfo', accomodationForm)">{{ error | formError }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Link</label>
    </div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="text" formControlName="link" placeholder="Link do obiektu" />
        </div>
      </div>
    </div>
  </div>
</form>

<mat-action-row>
  <button
    type="button"
    class="button is-primary"
    [disabled]="isAccomodationFormEnabled ? addressForm.invalid && accomodationForm.invalid : false"
    (click)="nextStep()"
  >
    Dalej
  </button>
</mat-action-row>
